<!DOCTYPE html>
<html>
    <head>
        <title>This is a vegetable app </title>
        <script src="/js/main.min.js"></script>
    </head>
    <body>
        <header>
            <h1>
                logo
            </h1>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/login">login</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <%- body %>
        </div>
    </body>
</html>
